* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 370px;
    width: 600px;
    background-color: white;
    border-radius: 25px;
    display: flex;

}

.box2 {
    width: 350px;
    margin: 1em 1em;
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: 1em;
}

#img {
    height: 370px;
    width: 280px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

#description {
    padding: 10px;
    margin-right: 20px;
    font-size: 18px;
    color: gray;

}

#product_title {
    font-family: "Fraunces", serif;
    font-size: 18px;
    color: gray;
    padding-left: 10px;
    letter-spacing: 5px;
}

#product_name {
    font-family: "Fraunces", serif;
    margin-right: 10px;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 0.8px;
    font-weight: 700;
}


#price {
    font-size: 28px;
    color: hsl(158, 37%, 39%);
    font-family: "Fraunces", serif;
    margin-left: 15px;
    margin-top: 10px;
    line-height: 1;
    font-weight: 700;
}

del {
    margin-left: 5px;
    font-size: 15px;
    color: gray;
}

#cart_text {
    display: inline;
    color: white;
    font-size: 1rem;
    padding-left: 15px;

}

button {
    width: 260px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    margin: 2em 0 1em 0;
    border-radius: 0.7em;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    outline: none;
}